/* Box sizing rules */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 14px;
}

body {
  font-family: "Inter", sans-serif;
  color: white;
}

h1,
.h1 {
  font-size: 1.7rem;
}

p {
  line-height: 1;
}

.fs-200 {
  font-size: 0.825rem;
}

.fs-300 {
  font-size: 0.9rem;
}

.fs-400 {
  font-size: 1rem;
}

.fs-600,
.big-text-500 {
  font-size: 2.25rem;
}

.fs-700,
.big-text-600 {
  font-size: 4rem;
}

.fw-400 {
  font-weight: 400;
}

.fw-700,
.big-text-600,
.big-text-500 {
  font-weight: 700;
}

.text-neutral {
  color: #8b97c6;
}

.text-success {
  color: #1db489;
}

.text-danger {
  color: #dc414c;
}

.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.line-h-0 {
  line-height: 0;
}

body {
  background-color: #1e202a;
}

hr {
  margin: 2rem 0 1rem;
  border: none;
  border-top: 2px solid #252a41;
}

.main-container {
  padding: 25px;
}
.main-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 210px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: -1;
  background-color: #1f212e;
}

.grid-container {
  display: grid;
}

.social {
  gap: 25px;
}

.overview {
  gap: 15px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flow > * + * {
  margin-top: 2rem;
}

.theme-toggler {
  justify-content: space-between;
  margin-bottom: 20px;
}

.margin-block {
  margin: 3rem 0 2rem;
}

.toggler {
  position: relative;
  justify-self: end;
  width: 50px;
  height: 24px;
  border-radius: 20px;
  background-image: linear-gradient(to right, #378fe6, #3eda82);
}
.toggler-ball {
  position: absolute;
  top: 3px;
  left: 3px;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #1f212e;
  cursor: pointer;
}
.toggler-ball:hover {
  background-color: #333b5b;
}

.colored-card,
.flex-card {
  border-radius: 5px;
  padding: 30px;
  background-color: #252a41;
}
.colored-card:hover,
.flex-card:hover {
  background-color: #333b5b;
  cursor: pointer;
}

.colored-card {
  position: relative;
  display: grid;
  justify-items: center;
  overflow: hidden;
}
.colored-card :nth-child(3) {
  margin-top: 0.5rem;
}
.colored-card :nth-child(4) {
  gap: 4px;
}
.colored-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
}

.flex-card > div:first-child {
  margin-bottom: 40px;
}
.flex-card .flex {
  justify-content: space-between;
  gap: 5px;
}

#card-facebook::before {
  background-color: #198ff5;
}

#card-twitter::before {
  background-color: #1ca0f2;
}

#card-instagram::before {
  background-image: linear-gradient(to left, #fdc468, #df4996);
}

#card-youtube::before {
  background-color: #c4032a;
}

.light {
  background-color: white;
}
.light .main-container {
  color: #1e202a;
}
.light .main-container::before {
  background-color: #f5f7ff;
}
.light .text-neutral,
.light .text-normal {
  color: #63687e;
}
.light .toggler {
  background-image: none;
  background-color: #aeb3cb;
}
.light .toggler-ball {
  background-color: white;
  left: auto;
  right: 3px;
}
.light .toggler:hover {
  background-color: transparent;
  background-image: linear-gradient(to right, #378fe6, #3eda82);
}
.light .colored-card,
.light .flex-card {
  background-color: #f0f2fa;
}
.light .colored-card:hover,
.light .flex-card:hover {
  background-color: #dadff1;
}
.light hr {
  border-top: 1px solid #aeb3cb;
}

@media (min-width: 500px) {
  .main-container {
    width: min(700px, 96vw);
    margin-inline: auto;
  }

  .social,
.overview {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1024px) {
  body {
    display: grid;
    place-content: center;
  }

  .main-container {
    width: min(1110px, 98vw);
  }
  .main-container::before {
    height: 250px;
  }
  .main-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  .main-container .header h1 {
    font-size: 1.9rem;
  }
  .main-container .header .theme-toggler {
    margin: 0;
  }
  .main-container hr {
    display: none;
  }

  .social,
.overview {
    grid-template-columns: repeat(4, 1fr);
  }

  .overview,
.social {
    column-gap: 30px;
    row-gap: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
