.colored-card,
.flex-card {
  border-radius: 5px;
  padding: 30px;

  background-color: $Dark-Desaturated-Blue;
}

.colored-card {
  position: relative;
  display: grid;
  justify-items: center;

  overflow: hidden;

  :nth-child(3) {
    margin-top: 0.5rem;
  }
  :nth-child(4) {
    gap: 4px;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
  }
}

.flex-card {
  & > div:first-child {
    margin-bottom: 40px;
  }

  .flex {
    justify-content: space-between;
    gap: 5px;
  }
}

#card-facebook {
  &::before {
    background-color: $Facebook;
  }
}
