body {
  background-color: $Very-Dark-Blue-400;
}

hr {
  margin: 2rem 0 1rem;

  border: none;
  border-top: 2px solid $Dark-Desaturated-Blue;
}

.main-container {
  padding: 25px;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 210px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    z-index: -1;
    background-color: $Very-Dark-Blue-300;
  }
}

.grid-container {
  display: grid;
}

.social {
  gap: 25px;
}

.overview {
  gap: 15px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flow {
  > * + * {
    margin-top: 2rem;
  }
}

.theme-toggler {
  justify-content: space-between;
  margin-bottom: 20px;
}

.margin-block {
  margin: 3rem 0 2rem;
}

@import 'components';
@import 'themes';

@include mq($break-point-md) {
  .main-container {
    width: min(700px, 96vw);
    margin-inline: auto;
  }
  .social,
  .overview {
    grid-template-columns: 1fr 1fr;
  }
}

@include mq($break-point-lg) {
  body {
    display: grid;
    place-content: center;
  }

  .main-container {
    width: min(1110px, 98vw);

    &::before {
      height: 250px;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 50px;

      h1 {
        font-size: 1.9rem;
      }

      .theme-toggler {
        margin: 0;
      }
    }

    hr {
      display: none;
    }
  }

  .social,
  .overview {
    grid-template-columns: repeat(4, 1fr);
  }

  .overview,
  .social {
    column-gap: 30px;
    row-gap: 25px;
  }
}
