body {
  background-color: $Very-Dark-Blue-400;
}

hr {
  margin: 2rem 0 1rem;

  border: none;
  border-top: 2px solid $Dark-Desaturated-Blue;
}

.main-container {
  padding: 25px;
}

.grid-container {
  display: grid;
}

.flex {
  display: flex;
  align-items: center;
  gap: 10px;
}

.flow {
  > * + * {
    margin-top: 2rem;
  }
}

.theme-toggler {
  justify-content: space-between;
  margin-bottom: 20px;
}

@import 'components';
@import 'themes';
