@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
  font-size: 14px;
}

body {
  font-family: 'Inter', sans-serif;
  color: $White;
}

p {
  line-height: 1;
}

.fs-200 {
  font-size: 0.825rem;
}
.fs-300 {
  font-size: 0.9rem;
}
.fs-400 {
  font-size: 1rem;
}
.fs-600,
.big-text-500 {
  font-size: 2.25rem;
}
.fs-700,
.big-text-600 {
  font-size: 4rem;
}

.fw-400 {
  font-weight: 400;
}
.fw-700,
.big-text-600,
.big-text-500 {
  font-weight: 700;
}

.text-neutral {
  color: $Desaturated-Blue;
}

.text-success {
  color: $Lime-Green;
}

.text-danger {
  color: $Bright-Red;
}

.text-uppercase {
  text-transform: uppercase;
  letter-spacing: 5px;
}

.line-h-0 {
  line-height: 0;
}
